<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

  <%- include('includes/messages'); %>
  <div class="mx-auto d-flex flex-column justify-content-center align-items-center">
    <% if(contact._id) { %>
      <form action="/contact/update/<%= contact._id %>" method="POST" class="container">
    <% } else { %>
      <form action="/contact/new/register" method="POST" class="container">
    <% } %>
      <% if(contact._id) { %>
      <h1 class="text-center">Editar contato</h1>
      <% } else { %>
      <h1 class="text-center">Novo contato</h1>
      <% } %>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <div class="mb-3">
        <label for="inputName" class="form-label">Nome</label>
        <input value="<%= contact.name %>" type="text" class="form-control" name="name" id="inputName" placeholder="Digite seu nome">
      </div>

      <div class="mb-3">
        <label for="inputLastname" class="form-label">Sobrenome</label>
        <input value="<%= contact.lastName %>" type="text" class="form-control" name="lastName" id="inputLastname" placeholder="Digite seu sobrenome">
      </div>

      <div class="mb-3">
        <label for="inputTel" class="form-label">Telefone</label>
        <input value="<%= contact.tel %>" type="tel" class="form-control" name="tel" id="inputTel" placeholder="Digite seu telefone">
      </div>

      <div class="mb-3">
        <label for="inputEmail" class="form-label">E-mail</label>
        <input value="<%= contact.email %>" type="email" class="form-control" name="email" id="inputEmail" placeholder="Digite seu e-mail">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>

    </form>
  </div>
<%- include('includes/footer'); %>