<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

  <%- include('includes/messages'); %>

  <div class="mx-auto d-flex flex-column justify-content-center align-items-center">
    <form action="/register/registed" method="POST" class="container">
      <h1 class="text-center">Faça seu cadastro</h1>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Digite seu email">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Digite sua senha">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
<%- include('includes/footer'); %>